
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /cours/Music-Vercors-Festival-V2-dev/

    RewriteRule ^$ public/ [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>



